version: '3'

services: 
  ce-mysql:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    container_name: ce-mysql
    restart: always
    tty: true
    volumes: 
      - ./mysql:/var/lib/mysql
    environment: 
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    networks: 
      - nginx-nodejs

  app-nodejs:
    build: 
      context: node
    image: nilsonrsvieira/ce-app-nodejs:0.1
    command: npm start
    container_name: ce-app-nodejs
    networks: 
      - nginx-nodejs
    volumes: 
      - ./node:/usr/src/app
    tty: true
    depends_on: 
       - ce-mysql

  nginx:
    restart: always
    build:
        context: nginx
    image: nilsonrsvieira/ce-nginx:0.1
    container_name: ce-nginx
    ports:
        - "8080:80"
    networks: 
      - nginx-nodejs 
    depends_on: 
       - app-nodejs 

networks: 
  nginx-nodejs:
    driver: bridge      
